body{
    background-color: #45880e;
}

/*Barra superior*/
.header-mobile{
    display: none;
}

.logo{
    color: #fff7e5;
    font-family: sans-serif;
}

#open-menu{
    background-color: transparent;
    border: none;
}

#open-menu i{
    font-size: 1.5rem;
    color: #fff7e5;
}

/*Contenedor principal*/
.contenedor{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 1.25rem);;
    margin: 0.625rem 0.3125rem;
}

/*Contenedor productos*/
main{
    background-color: #fff7e5;
    width: 75%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    padding: 0.625rem;
}

.titulo-principal{
    padding: 0.625rem;
    color: #316b0a;
}

.carrito-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    background-color: #e2e2e2;
    border-radius: 0.5rem;
    color: #45880e;
    margin-bottom: 0.625rem;
}

.carrito-producto-imagen{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    object-fit: contain;
}

#carrito-acciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrito-acciones-derecha{
    display: flex;  
}

.carrito-acciones-total{
    display: flex;
}

.carrito-acciones-vaciar{
    background-color: #e2e2e2;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: #45880e;
}

.carrito-acciones-vaciar:hover{
    background-color: #316b0a;
    color: #e2e2e2;
    cursor: pointer;
}

.carrito-acciones-total{
    background-color: #e2e2e2;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem 0 0 0.5rem;
    color: #45880e;
}

.carrito-acciones-comprar{
    background-color: #45880e;
    border: none;
    padding: 0.625rem;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff7e5;
}

.carrito-acciones-comprar:hover{
    background-color: #316b0a;
    cursor: pointer;
}

#carrito-vacio{
    color: #45880e;
}

#carrito-comprado{
    color: #45880e;
}

/*Barra lateral*/
.aside-visible{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 0.625rem);
    justify-content: space-between;
    width: 25%;
    margin-right: 0.625rem;
}

.aside-visible header h1{
    text-align: center;
}

.aside-visible nav{
    margin-left: 2.5rem;
}

nav{
    display: flex;
    flex-direction: column;
}

.menu li{
    padding-bottom: 3.125rem;
}

.boton-menu{
    width: 90%;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: #45880e;
    color:#fff7e5;
    text-align: left;
    border: none;
}

.boton-menu i{
    padding: 0.625rem;
}

.logo:hover{
    cursor: pointer;
}

.boton-menu:hover{
    background-color: #fff7e5;
    color: #45880e;
}

.menu li:last-child {
    padding-top: 2.5rem;
    padding-bottom: 0;
}

.aside-visible footer{
    margin-left: 2.5rem;
}

#close-menu{
    display: none;
}

/*Footer*/
footer p{
    padding: 0.625rem;
}


/*Responsive*/

@media(max-width:850px) {
    .boton-menu{
        display: flex;
        align-items: center;
        padding: 0;
    }

    .boton-carrito span{
        padding: 0.3125rem;
    }
    
}

@media(max-width:675px) {

}

@media(max-width: 600px){
    .header-mobile{
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        color: #fff7e5;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10; 
    }

    .close-menu i{
        font-size: 1.5rem;
    }

    .aside-visible{
        display: none;
    }

    .aside-visible .logo{
        margin-top: 0.625rem;
    }

    .contenedor{
        flex-direction: column;
        justify-content: flex-start;
    }

    main{
        width: 100%;
    }

    .aside-visible.active{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 40%;
        background-color: #45880e;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    #open-menu{
        font-size: 2rem;
    }

    .boton-menu{
        padding: 1rem;
    }

    .menu li {
        padding: 1rem 0;
    }
}

@media(max-width:400px){
    .aside-visible .logo{
        margin-top: 2.3rem;
    }

    .aside-visible.active{
        width: 50%;
    }

    .carrito-productos{
        font-size: 0.8rem;
    }
}
